<h1>About artist <%= @artist.name %> </h1>
<br>

<p>Years of tattooing experience: <%= @artist.years_experience%></p>
<p>Hourly rate: $ <%= @artist.price_hourly%></p>
<p>Specializes in: <%= @artist.specializes_in%></p>

<h3>List of tattoos:</h3>
<ul>
<% @artist.tattoos.each do |tattoo| %>
    <li> <a href="/tattoos/<%= tattoo.id %>"> <%= tattoo.image %>  </a>
    </li>
    <% end %>
</ul>
