<h1>Edit your tattoo below</h1>
<h4> (although we're not exactly sure how that would work...logistically)</h4>
<br>
<form method="post" action="/tattoos/<%= @tat.id %>">
    <input type="hidden" id="hidden" name="_method" value="patch">
        <p>Image: <input type="text" name="image" value=" <%= @tat.image %>"></p>
        <p>Size: <select type ="text" name="size">
            <option selected disabled hidden> <%= @tat.size %> </option>
            <option value="small">small</option>
            <option value="medium">medium</option>
            <option value="large">large</option>
        </select>
        <p>Color: <input type="text" name="color" value="<%= @tat.color %>"></p>
        <p>Artist's name: <input type="text" name="artist_name" value="<%= @tat.artist.name %>"></p>
        <input type="submit" value="Update tattoo">
</form>

 