<h3> <%= @tat.image %> tattoo </h3><br>

    <p><strong>Size: </strong><%= @tat.size %> </p>
    <p><strong>Color: </strong><%= @tat.color %> </p>

    <% if !!@tat.style == true && @tat.style != "" %>
        <p><strong>Style: </strong><%= @tat.style %> </p>
    <% end %>


    <p><strong>Placement: </strong><%= @tat.placement %> </p>

    <% if !!@tat.description == true && @tat.description != "" %>
        <p><strong>Description: </strong><%= @tat.description %> </p>
    <% end %>


    <% if !!@tat.artist == true %>
        <p><strong>Artist: </strong>
            <a href="/artists/<%= @tat.artist_id %>"> <%= @tat.artist.name %> </a>
        </p>
    <% elsif !!@tat.name_of_artist == true %>
        <p><strong> Artist's name: </strong> <%= @tat.name_of_artist%></p>
    <% end %>
   


    <% if !!@tat.artist_commentary == true && @tat.artist_commentary != ""%>
        <p> Artist's notes: <%= @tat.artist_commentary %></p>
    <% end %>

<% case %>
<% when user_logged_in? %>
    <% if @tat.user_id == current_user.id  %>
        <h3> <a href="/tattoos/ <%= @tat.id %> /edit">Edit this listing</a></h3>
        <form method="post" action="/tattoos/<%= @tat.id %>">
        <input type="hidden" id="hidden" name="_method" value="delete">
        <input type="submit" value="Delete this listing">
        <% end %>
    </form>
<% when artist_logged_in?  %>
        <% if @tat.artist_id == current_artist.id  %>
        <h4>As the artist of this piece, feel free to add any notes you may have below:</h4>
        <form method="post" action="/tattoos/<%= @tat.id %>">
        <input type="hidden" id="hidden" name="_method" value="patch">
        <textarea name="artist_commentary"></textarea><br>
        <br>
        <input type="submit" value="Add Artist's notes">
        <% end %>
    </form>

<% end %>

      

<%# show a link back to the full list of tattoos %>